#vertical-tabs-view-content {
  padding: 0;
  margin: 2px;
}

ul.vertical-tabs-view-list {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

.vertical-tabs-view-list li.vertical-tabs-view-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--tab-text-color);
  font-size: var(--tab-font-size);
  font-weight: var(--tab-font-weight);
  padding: 2px 0 2px 2px;
  width: 100%;
  min-height: 2.5rem;
  border-radius: var(--tab-radius);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vertical-tabs-view-list li.vertical-tabs-view-list-item:hover {
  background-color: var(--background-modifier-hover);
}

.vertical-tabs-view-list-item-ghost {
  opacity: 0.3;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-left-container,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-left-container {
  display: flex;
  overflow: hidden;
  margin-left: 0.25em;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-right-container {
  flex-shrink: 0;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-icon {
  color: var(--tab-text-color);
  padding-top: 0.25em;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-tab-icon {
  margin: 0 0.25em;
  min-width: var(--icon-s);
  --icon-size: var(--icon-s);
  --icon-stroke: var(--icon-s-stroke-width);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-close-btn,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn {
  cursor: pointer;
  --icon-size: var(--icon-l);
  --icon-stroke: var(--icon-l-stroke-width);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-close-btn:hover,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn:hover {
  color: var(--tab-text-color-focused);
  background-color: var(--tab-background-active);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn {
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.vertical-tabs-view-list li.focused {
  color: var(--tab-text-color-focused-active-current);
  background-color: var(--tab-background-active);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.25em;
  line-height: 1.4em;
  width: 100%;
  overflow: hidden;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-dirname,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-dirname {
  color: var(--tab-text-color);
  font-size: var(--font-ui-smaller);
}

/* settings */
.vertical-tabs-view-settings-preview-icon-wrapper {
  display: flex;
}
.vertical-tabs-view-settings-preview-icon-text {
  margin-right: 0.5em;
}
.vertical-tabs-view-settings-tab-icon-rules {
  margin-left: 1em;
}
.setting-item.vertical-tabs-view-settings-tab-icon-rules-add-btn {
  border: none;
}
.vertical-tabs-view-settings-tab-icon-rule-wrapper {
  border: 1px solid var(--background-modifier-border);
  padding: 1em;
  margin-bottom: 0.25em;
}
.vertical-tabs-view-settings-tab-icon-rule-match-config-wrapper {
  border-bottom: 1px solid var(--background-modifier-border);
  padding: 0.5em 1em;
}
.vertical-tabs-view-settings-tab-icon-rule-remove-btn-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}

/* context menu */
button.context-menu-item.vertical-tabs-view-context-menu-item-custom {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
button.context-menu-item.vertical-tabs-view-context-menu-item-custom span {
  padding-left: 0.25rem;
}
