#vertical-tabs-view-content {
  padding: 0;
  margin: 2px;
}

ul.vertical-tabs-view-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 4em;
}

.vertical-tabs-view-list li.vertical-tabs-view-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--tab-text-color);
  font-size: var(--tab-font-size);
  font-weight: var(--tab-font-weight);
  padding: 2px 0 2px 2px;
  width: 100%;
  border-radius: var(--tab-radius);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-left-container,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-left-container {
  display: flex;
  overflow: hidden;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-right-container {
  flex-shfrink: 0;
  margin-top: 0.2em;
}

.vertical-tabs-view-list li:hover {
  color: var(--tab-text-color-focused);
  background-color: var(--tab-background-active);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-close-btn,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn {
  color: var(--tab-text-color);
  padding-top: 0.25em;
}
.vertical-tabs-view-list li .vertical-tabs-view-list-item-close-btn:hover,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn:hover {
  color: var(--tab-text-color-focused);
  background-color: var(--tab-background-active);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn {
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
}

.vertical-tabs-view-list li.focused {
  color: var(--tab-text-color-focused);
  background-color: var(--tab-background-active);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5em;
  line-height: 1.4em;
  width: 100%;
  overflow: hidden;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-dirname,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-dirname {
  color: var(--tab-text-color);
  font-size: var(--font-ui-smaller);
}
