#vertical-tabs-view-content {
  padding: 0;
  margin: 2px;
}

ul.vertical-tabs-view-list {
  list-style: none;
  padding: 0;
  margin: 0.1rem 0;
}

.is-focused .vertical-tabs-view-list li.vertical-tabs-view-list-item {
  color: var(--tab-text-color-focused);
}
.vertical-tabs-view-list li.vertical-tabs-view-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--tab-text-color);
  font-size: var(--tab-font-size);
  font-weight: var(--tab-font-weight);
  padding: 2px 0 2px 2px;
  width: 100%;
  min-height: 2.5em;
  border-radius: var(--tab-radius);
  overflow: hidden;
  white-space: nowrap;
}
.is-focused .vertical-tabs-view-list li.focused,
.vertical-tabs-view-list li.focused {
  color: var(--tab-text-color-focused-active-current);
  background-color: var(--tab-background-active);
}

.vertical-tabs-view-list li.vertical-tabs-view-list-item:hover {
  background-color: var(--background-modifier-hover);
}

.vertical-tabs-view-list-item-ghost {
  opacity: 0.6;
}
.is-mobile .vertical-tabs-view-list-item-chosen {
  display: none;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-left-container,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container {
  display: flex;
  overflow: auto;
  margin: 0 0.25em;
  scrollbar-width: thin;
}

/* scrollbar */
.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container::-webkit-scrollbar {
  margin-top: 0.25em;
  height: 0.25em;
}
.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}
.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
}
.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-active-thumb-bg);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-right-container {
  flex-shrink: 0;
}
/* icons */
.vertical-tabs-view-list li .vertical-tabs-view-list-item-icon {
  color: var(--tab-text-color);
  padding-top: 0.25em;
}
.vertical-tabs-view-list li .vertical-tabs-view-list-item-icon._hidden {
  display: none;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-tab-icon {
  margin: 0 0.5em 0 0.25em;
  min-width: var(--icon-s);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-close-btn,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn {
  cursor: pointer;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-close-btn:hover,
.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn:hover {
  color: var(--tab-text-color-focused);
  background-color: var(--tab-background-active);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-icon-pinned {
  color: var(--text-accent);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn {
  margin-right: 0.5em;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-pin-btn-pin {
  opacity: .75
}

.vertical-tabs-view-list-item-close-btn > svg,
.vertical-tabs-view-list-item-pin-btn > svg,
.vertical-tabs-view-list-item-tab-icon > svg {
  width: 1.5em;
  height: 1.5em;
  stroke-width: var(--icon-s-stroke-width);
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.25em;
  line-height: 1.4em;
  width: 100%;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-name-container::-webkit-scrollbar {
  width: 2rem;
}

.vertical-tabs-view-list li .vertical-tabs-view-list-item-dirname {
  font-size: var(--font-ui-smaller);
}

/* settings */
.vertical-tabs-view-settings-preview-icon-wrapper {
  display: flex;
}
.vertical-tabs-view-settings-preview-icon-text {
  margin-right: 0.5em;
}
.vertical-tabs-view-settings-tab-icon-rules {
  margin-left: 1em;
}
.setting-item.vertical-tabs-view-settings-tab-icon-rules-add-btn {
  border: none;
}
.vertical-tabs-view-settings-tab-icon-rule-wrapper {
  border: 1px solid var(--background-modifier-border);
  padding: 1em;
  margin-bottom: 0.25em;
}
.vertical-tabs-view-settings-tab-icon-rule-match-config-wrapper {
  border-bottom: 1px solid var(--background-modifier-border);
  padding: 0.5em 1em;
}
.vertical-tabs-view-settings-tab-icon-rule-remove-btn-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}

/* See: https://github.com/hdykokd/obsidian-vertical-tabs-view/issues/60 */
.vertical-tabs-view-list-mobile-margin-block {
  height: 100%;
  padding-bottom: 4.5rem;
}
